pymongo
flask-login
flask>3
itsdangerous
werkzeug
requests
regex
xlsxwriter
tqdm
pandas
openpyxl
fastapi
uvicorn
xlrd
locust
ipykernel
flask-session
faker
python-dotenv
pymongo
tabulate
flask_deprecate
bcrypt
pytest
pytest-html
pytest-csv

