pymongo
flask-login
flask
itsdangerous==2.0.1
werkzeug==2.0.3
requests
regex
xlsxwriter
tqdm
pandas
openpyxl
fastapi
uvicorn
xlrd
locust
ipykernel
flask-session
Werkzeug==2.0.3
faker
python-dotenv
pymongo
bson
tabulate
flask_deprecate
bcrypt
pytest
pytest-html
pytest-csv
