{% extends "base.html" %}

{% block head %}

{% endblock head %}

{% block title %}
<!-- <header>
	<h1>Inventory Inconsistencies</h1>
	<p></p>
</header> -->
{% endblock title %}

{% block main %}

    <h1 class="mb-4">Inconsistencies Data</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for key in data[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for value in row.values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock main %}
