<!-- type can be ip, cidr or hostsubnet -->

    {% for network in networks |default([]) %}
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label"><strong>Network {{ loop.index }}</strong></label>
            <div class="col-sm-2">
                <input type="text" class="form-control" value="{{ network.name }}" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" value="{{ network.type }}" readonly>
            </div>
            <!-- if type == ip -->
            {% if network.type == 'ip' %}
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="{{ network.ip }}" readonly>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="{{ network.subnet_mask }}" readonly>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="{{ network.mac }}" readonly>
                </div>
            <!-- if type == cidr -->
            {% elif network.type == 'cidr' %}
                <div class="col-sm-6">
                    <input type="text" class="form-control" value="{{ network.cidrs | join(', ') }}" readonly>
                </div>
            <!-- if type == hostsubnet -->
            {% elif network.type == 'hostsubnet' %}
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="{{ network.hostname }}" readonly>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="{{ network.egress_cidrs | join(', ') }}" readonly>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="{{ network.egress_ips | join(', ') }}" readonly>
                </div>
            {% endif %}
        </div>
    {% endfor %}
